.htaccess
wp-config.php
wp-admin
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/blogs.dir/
wp-content/plugins/
wp-content/themes/getfit
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-includes
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
.scssc
.sass-cache
